# OS
.DS_Store

# IDEs
.idea/
.vscode/

# Java
/target/
*.class

# Node
/frontend/node_modules/
/npm-debug.log*
/yarn-error.log*

# Docker
docker-compose.override.yml

# Build outputs
/dist/

# Logs
*.log
